<h1 class="font-medium m-4 md:mx-8">Listado de tareas</h1>
<mat-divider></mat-divider>

<div class="flex justify-content-center flex-wrap">
  <button 
  class="p-2 m-2"
    *ngFor="let category of categories"
    mat-stroked-button
    [routerLink]="['/planner/list', category]">
      <mat-icon>{{ categoriasIconos[category] }}</mat-icon>
      {{ category | titlecase }}
    </button>
</div>

<div class="grid m-3 md:mx-7">

  <tasks-acordion 
    [tasks]=tasks
    class="col-12">
  </tasks-acordion>

</div>