.mat-expansion-panel{
  margin: 1em 0em;
}

.mat-expansion-panel-header{
  padding: 1.2em 1.4em;
  background-color: var(--accent-lightest-color);
}

.mat-expansion-panel-header-main-div{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 99%;

}

.mat-expansion-panel-body{
  padding: 1.5em 0em;
}
