<!-- <mat-card>

  <mat-card-header> 

    <mat-card-title> {{ task.title | uppercase}}  </mat-card-title>

    <mat-card-subtitle> {{ task.category | uppercase }}  </mat-card-subtitle>

  </mat-card-header>

  <!-- <mat-card-content> {{ task.description }} </mat-card-content> -->

<!-- </mat-card> --> 

<div >
  <mat-expansion-panel class="mat-expansion-panel" >

    <mat-expansion-panel-header class="mat-expansion-panel-header" style="background-color: {{ categoriasColor[task.category || 'default'] }}">
        <!-- <mat-panel-description>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description> -->
        <div class="mat-expansion-panel-header-main-div">

          <div class="mat-expansion-panel-header-main-div-title">
            <!-- <mat-checkbox></mat-checkbox> -->

            <div>

              <mat-panel-title>
              {{ task.title | uppercase}}
              </mat-panel-title>

              <mat-panel-description >
              {{ task.category | titlecase }}
              </mat-panel-description>

            </div>

          </div>
            
            <mat-icon> {{ categoriasIconos[task.category || 'default'] }}</mat-icon>

        </div>
        
        <mat-divider></mat-divider>
    </mat-expansion-panel-header>
    
    <div class="mat-expansion-panel-body">

      <p> {{ task.description }} </p>

      <p> {{ task.deadline | date }} </p>

    </div>

    <button mat-button
      [routerLink]="['/planner/edit', task.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <button 
      mat-button
      >
      <mat-icon>delete</mat-icon>
      Eliminar
    </button>
    

    <mat-slide-toggle>Terminada!</mat-slide-toggle>

    

  </mat-expansion-panel>

</div>