<h1 class="font-medium m-4 md:mx-8">Buscar tareas</h1>

<mat-divider></mat-divider>

<div class="grid m-3 md:mx-7">

    <mat-form-field class="col-12">

      <mat-label>Buscar</mat-label>
      <input 
        type="text"
        matInput
        [formControl]="searchInput"
        (input)="searchTask()"
        [matAutocomplete]="auto"
      />
    </mat-form-field>

    <mat-autocomplete autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption( $event )"
      >
      <mat-option *ngFor="let task of tasks" [value]="task">
        {{ task.title }}
      </mat-option>

      <mat-option
        *ngIf="tasks.length === 0 && searchInput.value && searchInput.value.length > 0"
        value="">
        No se encontró nada con el término {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>

  <tasks-acordion 
    [tasks]=tasks
    class="col-12">
  </tasks-acordion>

</div>
